.generic-content {
    p {
        line-height: 1.7;
        font-size: 1.1rem;
        @include phone {
            font-size: 1rem;
        }
        a {
            font-weight: 500;
        }
    }
}
