.wrapper {
    max-width: 1236px;
    // take into account the extra padding defined
    margin: 0 auto;
    padding-left: 18px;
    padding-right: 18px;
}
.page-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
    @include phone {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    &--blue {
        background-color: $mainblue;
    }
    &__testimonials {
        background-image: url(../../assets/images/testimonials-bg.jpg);
        background-size: cover;
        background-position: center top;
    }
}
.mb {
    margin-bottom: 3.5rem;
    @include phone {
        margin-bottom: 1rem;
    }
}
.mt {
    margin-top: 2rem;
    @include phone {
        margin-top: 1rem;
    }
}
.image-center {
    text-align: center;
    display: block;
    margin: 0 auto;
}
.center {
    text-align: center;
}
