img {
    max-width: 100%;
    height: auto;
    position: relative;
}

.large-hero__text {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    /* text-align: center;
    transform: translate(-50%, -50%); */
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
}